@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@font-face {
  font-family: "Helvetica Neue ";
  src: url("../fonts/HelveticaNeueLTStd-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Miller";
  src: url("../fonts/Miller-DisplayRoman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
html {
  overflow: hidden;
}

body {
  position: relative;
  font-family: Miller, Times New Roman, Serif;
  font-weight: 400;
  background: #fff;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Miller, Times New Roman, Serif;
  font-weight: 400;
  color: #173245;
  margin: 0;
}

div#gameStatement {
  margin-top: -7vh;
  overflow-y: scroll;
}

#main * {
  z-index: 200;
}

p, label {
  color: #173245;
}

h1 {
  font-weight: 400;
  font-size: 4vh;
}

h2 {
  font-size: 4vh;
  margin-bottom: 15px;
}

h4 {
  font-size: 1.5em;
}

.btn.higher {
  color: #fff;
  font-size: 1rem;
}
.btn.lower {
  color: #173245;
  font-size: 1rem;
}

h1.q1Question, h1.q2Question, h1.q3Question {
  text-transform: none;
}

.q1Question,
#q1Comparison,
#q1Rating,
#q1has,
#answer1,
#q1Strapline,
.q2Question,
#q2Comparison,
#q2Rating,
#q2has,
#answer2,
#q2Strapline,
.q3Question,
#q3Comparison,
#q3Rating,
#q3has,
#answer3,
#q3Strapline {
  color: #173245 !important;
}

#answer1,
#answer2,
#answer3 {
  text-transform: lowercase;
}
#answer1::first-letter,
#answer2::first-letter,
#answer3::first-letter {
  text-transform: uppercase;
}

div#main {
  height: 100vh;
  min-height: 500px;
  background-color: #fff;
  height: 100vh;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position-y: 2%;
}
div#gameStatement {
  padding: 2em;
}
div#gameStage {
  height: 100vh;
  width: 100%;
}

#tsAndCs {
  cursor: pointer;
  color: #173245;
}

div#q1, div#q2, div#q3 {
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 50%;
  z-index: 100;
  transition-property: left, top;
  transition-duration: 0.5s;
}

p {
  transition-property: visibility, display;
  transition-duration: 0.5s;
}

div#q1:before, div#q2:before, div#q3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
div#q1 div, div#q2 div, div#q3 div {
  margin-top: 35vh;
  margin-bottom: auto;
  min-height: 230px;
}
div#q1 div p, div#q2 div p, div#q3 div p {
  color: #000;
  font-weight: 500;
}

.notransitions {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

div#q2 {
  left: 50%;
  z-index: 110;
}
div#q3 {
  left: 100%;
  z-index: 120;
}

#progress {
  height: 2vh;
  width: 50vw;
  background-color: #66C5EE;
  position: fixed;
  bottom: 10vh;
  margin-right: 25vw;
  margin-left: 25vw;
  display: none;
}
#progress #inner-progress {
  background-color: #F9B122;
  width: 100%;
  height: 100%;
  -webkit-transition-property: width;
  /* Safari */
  -webkit-transition-duration: 1s;
  /* Safari */
  transition-property: width;
  transition-duration: 1s;
  display: none;
}

#scoreboard {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

div#scoreboard {
  padding: 1em;
}

button {
  width: 50%;
  min-width: 200px;
  margin-top: 2vh;
}
button#submitScore {
  margin-top: 0;
  width: auto;
}
button#startGame {
  width: auto;
  margin-top: 2vh;
}

div#q1 div, div#q2 div, div#q3 div, div#q1 div, div#q2 div, div#q3 div {
  padding-right: 7vw;
  padding-left: 7vw;
}
div div.resultsbox {
  background-color: white;
}
div#q1 div:before, div#q2 div:before, div#q3 div:before {
  display: block;
  content: "";
  position: absolute;
  top: 33.5%;
  left: 12.5%;
  width: 75%;
  height: 33%;
  background-color: white;
  z-index: -1;
}
div#q1.activequestion div, div#q2.activequestion div, div#q3.activequestion div {
  padding-right: 7vw;
  padding-left: 7vw;
}
div#q1 div h1, div#q2 div h1, div#q3 div h1 {
  text-transform: none;
}
div.homeimage {
  width: 20vw;
  height: 20vw;
  margin-left: 10vw;
  margin-right: 10vw;
  background-image: url("../images/bd/hilo.png");
  background-size: 20vw 20vw;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 9rem;
}
div.hometext {
  width: 40vw;
  margin-left: 10vw;
  margin-top: 9rem;
  padding: 2em 2vw;
}
div.bottom-bar {
  height: 125px;
  background-color: transparent;
  background-image: url("../images/bd/logo.png");
  background-repeat: no-repeat;
  background-size: 350px auto;
  background-position: 13% 100%;
}

@media screen and (orientation: portrait) {
  div#q1 div:before, div#q2 div:before, div#q3 div:before {
    top: 18%;
    left: 7.5%;
    width: 85%;
    height: 50%;
  }
  div#q1.activequestion div:before, div#q2.activequestion div:before, div#q3.activequestion div:before {
    top: 8%;
    left: 7.5%;
    height: 65%;
  }
  div.bottom-bar {
    height: 90px;
  }
  div.bottom-bar img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: auto;
  }
  div#main {
    background-image: none;
  }
  div.homeimage {
    display: none;
  }
  div.hometext {
    width: 100vw !important;
    margin-left: 0;
    padding: 0;
  }
  div#q1, div#q2, div#q3 {
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    z-index: 100;
    transition-property: left, top;
    transition-duration: 0.5s;
    font-weight: 700;
  }
  div#q2 {
    top: 50%;
    z-index: 110;
  }
  div#q3 {
    top: 100%;
    z-index: 120;
  }
  div#q1 div, div#q2 div, div#q3 div {
    margin-top: 10vh;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  div#q1.activequestion div, div#q2.activequestion div, div#q3.activequestion div {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 5vh;
  }

  #scoreboard {
    position: fixed;
    top: 0;
  }
}
body {
  min-height: 400px !important;
  overflow: hidden;
}

div#vs {
  width: 5.5em;
  height: 5.7em;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  padding: 30px;
  font-weight: bold;
  color: #173245;
  top: 50%;
  left: 50%;
  margin-left: -2.75em;
  margin-top: -2.75em;
  background-size: 5.5em;
  background-repeat: no-repeat;
  background-image: url("../images/bd/hilo2.png");
}

@media (max-width: 768px) {
  h1 {
    font-size: 4vw;
  }

  h2, h3 {
    font-size: 2.5vw;
  }

  p, label {
    font-size: 2vw;
  }

  div#q1, div#q2 {
    padding: 0;
  }

  #scoreboard {
    position: fixed;
    top: 0;
    height: 2em;
  }

  div#vs {
    width: 2.5em;
    height: 2.5em;
    margin-left: -1.25em;
    margin-top: -1.25em;
    padding: 0.4em;
    background-size: 2.5em;
  }

  button {
    margin-top: 2vh;
    width: 100%;
    min-width: 0;
    font-size: 2.3vh !important;
  }
  button#startGame {
    margin-top: 2vh;
    width: 100%;
    min-width: 0;
    font-size: 2.3vh !important;
  }
  button#submitScore {
    margin-top: -1.2vh;
    width: auto;
  }
}
button {
  border-radius: 10px !important;
}

@media screen and (orientation: portrait) and (max-width: 500px) {
  h1 {
    font-size: 3vh;
  }

  h2, h3, p, label {
    font-size: 2vh;
  }

  button {
    font-size: 2vh !important;
  }

  div#gameStatement {
    margin-top: -7vh;
  }

  div .hometext {
    margin-top: 9rem;
  }
  div.bottom-bar {
    background-color: #fff;
  }
}
@font-face {
  font-family: "archer-book-pro";
  src: url("../fonts/archer-book-pro.otf") format("opentype"), url("../fonts/RockwellRegular.eot") format("embedded-opentype"), url("../fonts/archer-book-pro.woff") format("woff"), url("../fonts/archer-book-pro.ttf") format("truetype"), url("../fonts/archer-book-pro.svg#svgFontName") format("svg");
}
@media (max-height: 700px) {
  h1 {
    font-size: 3vh;
  }

  h2, h3, p, label {
    font-size: 2vh;
  }

  div .hometext {
    margin-top: 5rem;
  }
  div.bottom-bar {
    background-color: #fff;
  }
  div#main {
    background-image: none;
  }
  div#gameStatement {
    margin-top: 0;
  }
}
#snow {
  pointer-events: none;
  background: none;
  font-family: Androgyne;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/nfums1.png", sizingMethod="scale");
  background-image: url("../images/bd/nfums1.png"), url("../images/bd/nfums2.png"), url("../images/bd/nfums3.png");
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-animation: snow 60s linear infinite;
  -moz-animation: snow 60s linear infinite;
  -ms-animation: snow 60s linear infinite;
  animation: snow 60s linear infinite;
  opacity: 0.3;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 400px 1000px, 200px 400px, 100px 300px;
  }
}
@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
div.modal-content {
  color: #000;
  background-color: #fff;
  border: solid 4px #F9B122;
}
div.modal-content .modal-header {
  color: #173245;
  border-bottom: 0;
}
div.modal-content .modal-title {
  color: #173245;
  font-weight: bold;
}
div.modal-content .modal-footer, div.modal-content .modal-body {
  color: #173245;
  border-top: 0;
}
div.modal-content .green {
  color: green;
  border-top: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
div.modal-content .warning {
  color: #f00;
  border-top: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.container-fluid {
  padding: 0 !important;
}

.btn.higher {
  margin-top: 0;
  background-color: #173245;
  color: #fff !important;
}
.btn.higher:hover, .btn.higher:focus, .btn.higher:active, .btn.higher.active {
  color: #fff !important;
  background-color: #314C5F !important;
  border: 0;
}
.btn.lower {
  background-color: #66C5EE;
  color: #173245 !important;
  margin-top: 0;
}
.btn.lower:hover, .btn.lower:focus, .btn.lower:active, .btn.lower.active {
  color: #173245 !important;
  background-color: #80DFFF !important;
  border: 0;
}

.btn-primary {
  border: 0;
  background-color: #173245;
  color: #F9B122 !important;
  font-size: 1.5rem;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #F9B122 !important;
  background-color: #314C5F !important;
  border: 0;
}

.open > .dropdown-toggle.btn-primary {
  color: #173245 !important;
  background-color: #ffda4d !important;
  border: 0;
}

.btn-secondary {
  background-color: #66C5EE;
  border: 0;
  color: #fff;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  color: #fff !important;
  background-color: #333 !important;
  border: 0;
}

.open > .dropdown-toggle.btn-secondary {
  color: #fff !important;
  background-color: #333 !important;
  border: 0;
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
  div.homeimage {
    display: none;
  }
  div.hometext {
    width: 80vw !important;
    margin-left: 0;
  }
}
@media screen and (orientation: landscape) and (max-height: 720px) {
  div#q1 div, div#q2 div, div#q3 div {
    margin-top: 10vh;
    margin-bottom: auto;
  }
  div#q1 div:before, div#q2 div:before, div#q3 div:before {
    content: "";
    position: absolute;
    top: 8%;
    left: 12.5%;
    width: 75%;
    height: 40%;
    background-color: #fff;
    z-index: -1;
  }

  h1 {
    font-size: 4.5vh;
  }

  h2 {
    font-size: 2.5vh;
  }

  h3 {
    font-size: 3vh;
  }

  p, label {
    font-size: 2vh;
  }

  button {
    font-size: 3vh !important;
  }

  .h-100 {
    height: 100vh !important;
  }
}
button.close {
  width: 2rem;
  min-width: 2rem;
  margin-right: 0.4em !important;
}

/*# sourceMappingURL=style.css.map */
