$primary-background-colour: #fff;
$primary-colour: #F9B122;
$primary-colour-rollver: #ffda4d;
$secondary-colour: #66C5EE;
$secondary-colour-rollover: #333;
//this can also be set as transparent
$overlay-colour: rgba(0, 0, 0, 0.5);
$primary-font: Miller, Times New Roman, Serif;


$primary-font-colour: #173245;
$secondary-font-colour: #fff;


$display-accessible-background: true;
$accessible-background-colour: rgba(256,256,256,1);
$question-font-colour: $primary-font-colour;


$vs-logo: url('../images/bd/hilo2.png');


$show-snow: true;
$s1: url('../images/bd/nfums1.png');
$s2: url('../images/bd/nfums2.png');
$s3: url('../images/bd/nfums3.png');
$snow-timeout: 60s;
$snow-opacity: 0.3;


$short-transition-time: 0.5s;
$medium-transition-time: 1s;
$long-transition-time: 2s;


$button-border-radius: 10px;

$home-highlow-image: url('../images/bd/hilo.png');
$home-highlow-image-width: 20vw;
$home-highlow-image-height: 20vw;
$home-highlow-image-margin-left: 10vw;
$home-highlow-image-margin-right: 10vw;


$home-company-logo: url('../images/bd/logo.png');
$home-company-logo-size: 350px auto;
$home-company-logo-position: 13% 100%;


@font-face {
    font-family: 'Helvetica Neue ';
    src: url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Miller';
    src: url('../fonts/Miller-DisplayRoman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}



html {
    overflow: hidden;
}

body {
    position: relative;
    font-family: $primary-font;
    font-weight: 400;
    background: $primary-background-colour;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    font-weight: 400;
    color: $primary-font-colour;
    margin: 0;
}

div#gameStatement {
    margin-top: -7vh;
    overflow-y: scroll;
}

#main * {
    z-index: 200;
}

p, label {
    color: #173245;
}

h1 {
    font-weight: 400;
    font-size: 4vh;
}

h2 {
    font-size: 4vh;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.5em;
}

.btn {
    &.higher {
        color: #fff;
        font-size: 1rem;
    }

    &.lower {
        color: #173245;
        font-size: 1rem;
    }
}

h1 {
    &.q1Question, &.q2Question, &.q3Question {
        text-transform: none;
    }
}

.q1Question,
#q1Comparison,
#q1Rating,
#q1has,
#answer1,
#q1Strapline,
.q2Question,
#q2Comparison,
#q2Rating,
#q2has,
#answer2,
#q2Strapline,
.q3Question,
#q3Comparison,
#q3Rating,
#q3has,
#answer3,
#q3Strapline, {
    color: $question-font-colour !important;
}

#answer1,
#answer2,
#answer3 {
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }
}


div {
    &#main {
        height: 100vh;
        min-height: 500px;
        background-color: $primary-background-colour;
        height: 100vh;
        min-height: 500px;
        background-repeat: no-repeat;
        background-position-y: 2%;
    }

    &#gameStatement {
        padding: 2em;
    }

    &#gameStage {
        height: 100vh;
        width: 100%;
    }
}

#tsAndCs {
    cursor: pointer;
    color: $primary-font-colour;
}

div {
    &#q1, &#q2, &#q3 {
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        width: 50%;
        z-index: 100;
        transition-property: left, top;
        transition-duration: $short-transition-time;
    }
}

p {
    transition-property: visibility, display;
    transition-duration: $short-transition-time;
}

div {
    &#q1:before, &#q2:before, &#q3:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay-colour;
        z-index: -1;
    }

    &#q1 div, &#q2 div, &#q3 div {
        margin-top: 35vh;
        margin-bottom: auto;
        min-height: 230px;
    }

    &#q1 div p, &#q2 div p, &#q3 div p {
        color: #000;
        font-weight: 500;
    }
}

.notransitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

div {
    &#q2 {
        left: 50%;
        z-index: 110;
    }

    &#q3 {
        left: 100%;
        z-index: 120;
    }
}

#progress {
    height: 2vh;
    width: 50vw;
    background-color: $secondary-colour;
    position: fixed;
    bottom: 10vh;
    margin-right: 25vw;
    margin-left: 25vw;
    display:none;

    #inner-progress {
        background-color: $primary-colour;
        width: 100%;
        height: 100%;
        -webkit-transition-property: width;
        /* Safari */
        -webkit-transition-duration: $medium-transition-time;
        /* Safari */
        transition-property: width;
        transition-duration: $medium-transition-time;
        display:none;
    }
}

#scoreboard {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
}

div#scoreboard {
    padding: 1em;
}

button {
    width: 50%;
    min-width: 200px;
    margin-top: 2vh;

    &#submitScore {
        margin-top: 0;
        width: auto;
    }

    &#startGame {
        width: auto;
        margin-top: 2vh;
    }
}

div {
    &#q1 div, &#q2 div, &#q3 div, &#q1 div, &#q2 div, &#q3 div {
        padding-right: 7vw;
        padding-left: 7vw;
    }

    div.resultsbox {
        @if $display-accessible-background==true {
            background-color: $accessible-background-colour;
        }
        @else {
            background-color:transparent;
        }
    }


    &#q1 div:before, &#q2 div:before, &#q3 div:before {
        @if $display-accessible-background==true {
            display: block
        }
        @else {
            display: none;
        }

        content: "";
        position: absolute;
        top: 33.5%;
        left: 12.5%;
        width: 75%;
        height: 33%;
        background-color: $accessible-background-colour;
        z-index: -1;
    }

    &#q1.activequestion div, &#q2.activequestion div, &#q3.activequestion div {
        padding-right: 7vw;
        padding-left: 7vw;
    }

    &#q1 div h1, &#q2 div h1, &#q3 div h1 {
        text-transform: none;
    }

    &.homeimage {
        width: $home-highlow-image-width;
        height: $home-highlow-image-height;
        margin-left: $home-highlow-image-margin-left;
        margin-right: $home-highlow-image-margin-right;
        background-image: $home-highlow-image;
        background-size: $home-highlow-image-height $home-highlow-image-width;
        background-position: center;
        background-repeat: no-repeat;
        margin-top:9rem;
    }

    &.hometext {
        width: 40vw;
        margin-left: 10vw;
        margin-top:9rem;

        @if $display-accessible-background==true {
           // background-color: $accessible-background-colour;
            padding: 2em 2vw;
        }
    }

    &.bottom-bar {
        height: 125px;
        background-color: transparent;
        background-image: $home-company-logo;
        background-repeat: no-repeat;
        background-size: $home-company-logo-size;
        background-position: $home-company-logo-position;
    }
}

@media screen and (orientation: portrait) {


    div {
        &#q1 div:before, &#q2 div:before, &#q3 div:before {
            top: 18%;
            left: 7.5%;
            width: 85%;
            height: 50%;
        }

        &#q1.activequestion div:before, &#q2.activequestion div:before, &#q3.activequestion div:before {
            top: 8%;
            left: 7.5%;
            height: 65%;
        }

        &.bottom-bar {
            height: 90px;
            
            img {
                display: block;
                width: 200px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 25px;
                margin-bottom: auto;
            }
        }

        &#main {
            background-image: none;
        }

        &.homeimage {
            display: none;
        }

        &.hometext {
            width: 100vw !important;
            margin-left: 0;
            padding:0;
        }

        &#q1, &#q2, &#q3 {
            position: absolute;
            left: 0;
            top: 0;
            background-repeat: no-repeat;
            height: 50vh;
            width: 100%;
            z-index: 100;
            transition-property: left, top;
            transition-duration: $short-transition-time;
            font-weight: 700;
        }

        &#q2 {
            top: 50%;
            z-index: 110;
        }

        &#q3 {
            top: 100%;
            z-index: 120;
        }

        &#q1 div, &#q2 div, &#q3 div {
            margin-top: 10vh;
            margin-left: 4vw;
            margin-right: 4vw;
        }

        &#q1.activequestion div, &#q2.activequestion div, &#q3.activequestion div {
            margin-left: 4vw;
            margin-right: 4vw;
            margin-top: 5vh;
        }
    }

    #scoreboard {
        position: fixed;
        top: 0;
    }
}

body {
    min-height: 400px !important;
    overflow: hidden;
}


div#vs {
    width: 5.5em;
    height: 5.7em;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    padding: 30px;
    font-weight: bold;
    color: $primary-font-colour;
    top: 50%;
    left: 50%;
    margin-left: -2.75em;
    margin-top: -2.75em;
    background-size: 5.5em;
    background-repeat: no-repeat;

    @if str-length($vs-logo)>2 {
        background-image: $vs-logo;
    }
    @else {
        border: solid 4px $primary-colour;
        background-color: $secondary-colour;
    }
}

@if str-length($vs-logo)<2 {
    div#vs:before {
        content: 'VS';
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 4vw;
    }

    h2, h3 {
        font-size: 2.5vw;
    }

    p, label {
        font-size: 2vw;
    }

    div {
        &#q1, &#q2 {
            padding: 0;
        }
    }

    #scoreboard {
        position: fixed;
        top: 0;
        height: 2em;
    }

    div#vs {
        width: 2.5em;
        height: 2.5em;
        margin-left: -1.25em;
        margin-top: -1.25em;
        padding: .4em;
        background-size: 2.5em;
    }

    button {
        margin-top: 2vh;
        width: 100%;
        min-width: 0;
        font-size: 2.3vh !important;

        &#startGame {
            margin-top: 2vh;
            width: 100%;
            min-width: 0;
            font-size: 2.3vh !important;
        }

        &#submitScore {
            margin-top: -1.2vh;
            width: auto;
        }
    }
}

button {
    border-radius: $button-border-radius !important;
}

@media screen and (orientation: portrait) and (max-width: 500px) {
    h1 {
        font-size: 3vh;
    }

    h2, h3, p, label {
        font-size: 2vh;
    }

    button {
        font-size: 2vh !important;
    }

    div#gameStatement {
        margin-top: -7vh;
    }

    div {
        .hometext {
            margin-top: 9rem;

        }

        &.bottom-bar {
            background-color:#fff;
        }
    }
}

@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

@font-face {
    font-family: 'archer-book-pro';
    src: url('../fonts/archer-book-pro.otf') format("opentype"), url('../fonts/RockwellRegular.eot') format("embedded-opentype"), url('../fonts/archer-book-pro.woff') format("woff"), url('../fonts/archer-book-pro.ttf') format("truetype"), url('../fonts/archer-book-pro.svg#svgFontName') format("svg");
}


@media (max-height: 700px) {
    h1 {
        font-size: 3vh;
    }

    h2, h3, p, label {
        font-size: 2vh;
    }

    div {

        .hometext {
            margin-top: 5rem;
        }

        &.bottom-bar {
            background-color: #fff;
        }

        &#main {
            background-image: none;
        }

        &#gameStatement {
            margin-top: 0;
        }
    }
}




@if $show-snow==true {

    #snow {
        pointer-events: none;
        background: none;
        font-family: Androgyne;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/nfums1.png', sizingMethod='scale');
        background-image: $s1, $s2, $s3;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        -webkit-animation: snow $snow-timeout linear infinite;
        -moz-animation: snow $snow-timeout linear infinite;
        -ms-animation: snow $snow-timeout linear infinite;
        animation: snow $snow-timeout linear infinite;
        opacity: $snow-opacity;
    }

    @keyframes snow {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px;
        }

        50% {
            background-position: 500px 500px, 100px 200px, -100px 150px;
        }

        100% {
            background-position: 500px 1000px, 200px 400px, -100px 300px;
        }
    }


    @-moz-keyframes snow {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px;
        }

        50% {
            background-position: 500px 500px, 100px 200px, -100px 150px;
        }

        100% {
            background-position: 400px 1000px, 200px 400px, 100px 300px;
        }
    }


    @-webkit-keyframes snow {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px;
        }

        50% {
            background-position: 500px 500px, 100px 200px, -100px 150px;
        }

        100% {
            background-position: 500px 1000px, 200px 400px, -100px 300px;
        }
    }


    @-ms-keyframes snow {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px;
        }

        50% {
            background-position: 500px 500px, 100px 200px, -100px 150px;
        }

        100% {
            background-position: 500px 1000px, 200px 400px, -100px 300px;
        }
    }
}
@else {
    #snow {
        display: none;
    }
}

div.modal-content {
    color: #000;
    background-color: $primary-background-colour;
    border: solid 4px $primary-colour;

    .modal-header {
        color: $primary-font-colour;
        border-bottom: 0;
    }

    .modal-title {
        color: $primary-font-colour;
        font-weight: bold;
    }

    .modal-footer, .modal-body {
        color: $primary-font-colour;
        border-top: 0;
    }

    .green {
        color: green;
        border-top: 0;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .warning {
        color: #f00;
        border-top: 0;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

.container-fluid {
    padding: 0 !important;
}

.btn {
    &.higher {
        margin-top: 0;
        background-color: #173245;
        color: #fff !important;

        &:hover, &:focus, &:active, &.active {
            color: #fff !important;
            background-color: #314C5F !important;
            border: 0;
        }
    }



    &.lower {
        background-color: #66C5EE;
        color: #173245 !important;
        margin-top: 0;

        &:hover, &:focus, &:active, &.active {
            color: #173245 !important;
            background-color: #80DFFF !important;
            border: 0;
        }
    }
}

.btn-primary {
    border: 0;
    background-color: #173245;
    color: #F9B122 !important;
    font-size:1.5rem;

    &:hover, &:focus, &:active, &.active {
        color: #F9B122 !important;
        background-color: #314C5F !important;
        border: 0;
    }
}

.open > .dropdown-toggle.btn-primary {
    color: $primary-font-colour !important;
    background-color: $primary-colour-rollver !important;
    border: 0;
}

.btn-secondary {
    background-color: $secondary-colour;
    border: 0;
    color: $secondary-font-colour;

    &:hover, &:focus, &:active, &.active {
        color: $secondary-font-colour !important;
        background-color: $secondary-colour-rollover !important;
        border: 0;
    }
}

.open > .dropdown-toggle.btn-secondary {
    color: $secondary-font-colour !important;
    background-color: $secondary-colour-rollover !important;
    border: 0;
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
    div {
        &.homeimage {
            display: none;
        }

        &.hometext {
            width: 80vw !important;
            margin-left: 0;
        }
    }
}

@media screen and (orientation: landscape) and (max-height: 720px) {
    div {
        &#q1 div, &#q2 div, &#q3 div {
            margin-top: 10vh;
            margin-bottom: auto;
        }

        &#q1 div:before, &#q2 div:before, &#q3 div:before {
            content: "";
            position: absolute;
            top: 8%;
            left: 12.5%;
            width: 75%;
            height: 40%;
            background-color: #fff;
            z-index: -1;
        }
    }

    h1 {
        font-size: 4.5vh;
    }

    h2 {
        font-size: 2.5vh;
    }

    h3 {
        font-size: 3vh;
    }

    p, label {
        font-size: 2vh;
    }

    button {
        font-size: 3vh !important;
    }

    .h-100 {
        height: 100vh !important;
    }
}

button.close {
    width: 2rem;
    min-width: 2rem;
    margin-right: 0.4em !important;
}
